@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Notifications" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This Website is made to test out user registration and login<br />
        while also allowing users to view and edit their details.
    </p>
    
</div>
